/* GENERAL */

body {
    font-family: 'Abel', sans-serif;
    background-color: black;
}

/* HEADER */

header {
    background-image: url("img/matrix.jpg");
}

#logo {
    width: 150px;
}

/* MAIN */
.container {
    width: 50%;
    margin: 50px auto;
}

/* Colours */
.color-white {
    color: whitesmoke;
}

.color-green{
    color: green;
}

/* IMG */

img {
    width: 200px;
}

/*TABLE*/

table{
    border-collapse: collapse;
    list-style-position: inside;
}

.top-table{
    background-color: green;
    color: white;
  }
  
  .longer{
    width: 50%;
  }
  
  .different-data{
    background-color: grey
}

/*YOU MAY BE INTEREST*/

.may-interest{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-size: cover;
    width: 180px;
    height: 120px;
}

.monitor {
    background-image: url("img/monitor.jpg");
}

.graph {
    background-image:url("img/graph.jpg");
}