/* GENERAL */

body {
    font-family: 'Abel', sans-serif;
    background-color: black;
}

/* HEADER */

header {
    background-image: url("img/matrix.jpg");
}

#logo {
    width: 250px;
}

/* MAIN */
.container {
    width: 50%;
    margin: 50px auto;


}

/* Colours */
.color-white {
    color: whitesmoke;
}